<html>
  <head>
    <title>[BbunlineSkate] 당신의 뻔라인이 등록되었습니다!</title>
  </head>
  <body
    style='font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 40px 0;'
  >
    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
      <tr>
        <td align='center'>
          <table
            width='800px'
            style='background: white; padding: 30px; border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);'
          >
            <tr>
              <td style='text-align: center;'>
                <h2 style='color: #333; font-size: 28px;'>당신의 뻔선/뻔후가
                  <br />
                  서비스에 등록하였습니다.</h2>
                <p style='color: #666; font-size: 18px; line-height: 1.5;'>
                  당신의 뻔라인을
                  <a href='https://example.com'>여기서</a>
                  확인해보세요!
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>